<div (click)="onClose.emit()" class='bg'></div>
<form class="todo-modal" [formGroup]='form' (ngSubmit)="addTodo()">
  <h3 class='title '>Add new todo list</h3>
  <input formControlName='todo' type="text" placeholder='Go to gym'>
  <div class="btns">

    <button [ngClass]="{
      'disabled': !form.get('todo')?.valid,
      'btn': form.get('todo')?.valid
    }" [disabled]="!form.get('todo')?.valid" type='submit'>Add</button>
    <button type='button' (click)="onClose.emit()" class='btn danger'>Cancel</button>

  </div>
</form>
